.set {
    padding: 10px;
    margin: 20px;
    border: 2px solid;
}

.custom-button {
    background-color: #488d34;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}